body{
    background: #cccccc;
    width: 900px;
    margin: auto;
}

.photo{
    border-radius: 50%;
    border: 3px solid #000;
    background: #fff;

}
.title, .subtitle, .posttitle {
    color: #505050;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.posttitle{
    font-size: 16px;
    font-style: italic;
    margin: 0px;
    margin-bottom: 15px;

}

.postcontent{
    
    font-size: 20px;
    margin: 0px;
    margin-bottom: 15px;
    border-radius: 50px;
    font-family: Blackadder ITC; 
    text-transform: capitalize;
    text-align: justify;
}

.image{
    height: 500px;
    margin-bottom: 15px;
    width: 100%;
    margin: auto;
    }

.post{
    background: #fff;
    padding: 15px;
    border: 3px solid #000;
    margin-bottom: 15px;
    align-items: center;
}

.textlist{
    list-style-type: none;
    padding-left: 15px;

}

.textlist ul a {
    text-decoration: none;
}